html {
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
}

div.main {
    height: 100%;
    width: 100%;
}

div.toolbar{
    height: 5%;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #FF00FF
}

div.toolbar > section {
    display: flex;
    justify-content: right;
}

div.icon {
    padding: 10px;
    margin: 10px;
}

div.pong{
    width: 100%;
    height: 30%;
}

div.pong > section{
    display: flex;
    height: 100%;
}

div.score {
    display: flex;
    font-size: 4em;
    background-color: #FFF100;
    height: 90%;
    margin: 10px;
    width: 20%;
    justify-content: center;
    align-items: center;
}

div.field {
    background-color: #880000;
    margin: 10px;
    height: 90%;
    width: 60%;
}

div.applications {
    display: flex;
    width:100%;
    height: 60%;
}

div.widgets{
    height:100%;
    width:70%;
}

div.widgets > div.firstRow{
    display: flex;
    width: 100%;
    height:50%;
}

div.widgets > div.secondRow{
    display: flex;
    width: 100%;
    height:50%;
}

div.tournaments{
    width: 50%;
    background-color: #11BBFF;
    margin: 10px;
    margin-top: 0px;
}

div.realWorld{
    width: 25%;
    margin-bottom: 10px;
    background-color: #BBBBBB;
}

div.music{
    width:25%;
    margin: 10px;
    margin-top: 0px;
    background-color: #FBBBBB;
}

div.statistics {
    width: 50%;
    margin: 10px;
    background-color: #44FF44;
}

div.neofetch {
    width: 50%;
    margin: 10px;
    margin-left: 5px;
    background-color: #BB0FaF;
}

div.chat{
    height:100%;
    width:30%;
    background-color: #FF00FF;
}
