html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app, main{
    height: 100%;
}

#renderCanvas{
    width: 100%;
    height: 100%;
    touch-action: none;
}
