@font-face{
    font-family: Monofett;
    src: url('/Monofett-Regular.ttf');
}

body {
    background-color: #ADA0FF;
    height: 100%;
}

button.option_button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button.option_button:hover{
    background-color: #FF0000;
    color: white;
}

#bgVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

div.main_div{
    background : rgba(0, 0, 0, 0);
}

div.video_div{
  position: fixed; 
  z-index: -1; 
}

div.title{
    text-align: center;
}

div.title h1{
    font-size: 6em;
    color: #fF2A00;
    font-family: Monofett;
}

div.options_container{
    width: 100%;
}

div.image_container > img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
    filter: contrast(200%);
}

div.option{
    width: 20%;
    height: 20%;
    border-width: 10px;
    border-style: inset;
    border-color: #5500FF;
    padding: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    place-items: center;

    background-color: #A500FF;
    text-align: center;
    opacity: 0.9;
}
