div.title{
    text-align: center;
}

div.title h1{
    font-size: 4em;
}

div.option{
    width: 100%;
    height: 20%;
    border: 100px #fdfb21;
    padding: 10px #fb4214;
    margin: 10px #abf213;
    background-color: #100000;
    text-align: center;
}
