@import "tailwindcss";

@font-face{
    font-family: Monofett;
    src: url('/Monofett-Regular.ttf');
}

@theme {
    --font-mono: "Monofett";
    --color-metalgear: #fF2A00;
}

html, body, #root, #app {
    height: 100vh;
    width: 100vw;
}

#bgVideo {
    object-fit: fill;
}

.titleBarBorders {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}
